# ----------------------------------------------------------------------
# Python
# ----------------------------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.joblib
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
ENV/
env/
*.env

# Logs
*.log

# ----------------------------------------------------------------------
# Jupyter
# ----------------------------------------------------------------------
.ipynb_checkpoints/
*.ipynb_convert.py

# ----------------------------------------------------------------------
# Streamlit
# ----------------------------------------------------------------------
.streamlit/

# ----------------------------------------------------------------------
# MLflow
# ----------------------------------------------------------------------
mlruns/
mlartifacts/

# ----------------------------------------------------------------------
# Data
# ----------------------------------------------------------------------
data/raw/
data/interim/
data/tmp/
*.csv
*.parquet
*.xlsx

# ----------------------------------------------------------------------
# IDEs & Editors
# ----------------------------------------------------------------------
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# ----------------------------------------------------------------------
# Docker
# ----------------------------------------------------------------------
*.pid
*.tar
*.db

# ----------------------------------------------------------------------
# Unit tests
# ----------------------------------------------------------------------
.coverage
htmlcov/
.cache/
.pytest_cache/
